:root {
    --tableSize: 70vw;
    --tableMainColor: rgb(208, 208, 58);
    --tableSecondColor: rgb(227, 57, 57);
    --tableBottomColor:  rgb(143, 16, 16);
    --tableLegColor: rgba(174, 91, 91, 0.196);

    --fileColor: rgb(231, 183, 121);
    --fileBorder: 2px solid rgb(190, 29, 29);

    --backgroundWallColor:  linear-gradient(to right,rgb(120, 152, 124), rgb(140, 170, 180), rgb(130, 160, 150));


    --certificateSize: 6vw;
    --certificateFrameSize:8vw;
    --certificateFrameColor:rgba(0, 0, 0, 0.677);

    --darkroom: brightness(0%);
    --darkroom: none;
    --darkRoomFilter: rgb(255, 0, 0);
    --darkRoomFilter: none;
}

/* *{
    transition: filter 400ms;
} */

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* background: rgb(236, 223, 207); */
    background-color: black;
}


/* table section and table animation starts form here  */
#tableSection {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -1vh;

    perspective: 830px;
}

#table, #tableBottom, #tableLegs{
    filter: var(--darkroom);
}

#table {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 8vh;
    width: var(--tableSize);
    height: 35vh;
    transform: rotateX(40deg);
    transform-origin: bottom;
    background-image: radial-gradient(circle, var(--tableMainColor), var(--tableSecondColor) 300%);
    border-bottom: 10px solid rgb(94, 88, 88);

    box-shadow: 5vw 29vh 0 -4vw rgba(0, 0, 0, 0.202);

    overflow: hidden;
}


#tableBottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3vh;
    width: var(--tableSize);
    height: 5vh;
    background-color: var(--tableBottomColor);
}

#tableLegs {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(var(--tableSize) - 5vw);
    height: 3vh;
    background-color: var(--tableLegColor);
    display: flex;
    justify-content: space-between;
}

.tableLeg {
    width: 7vh;
    height: 100%;
    background-color: rgb(197, 175, 13);
    border-radius: 20px;
}



/* floating circle on the table below the file  */
.floatingCircle{
    pointer-events: none;
    width: .2vw;
    height: .2vw;
    border: 15px solid;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: -10vw;
    right: -10vw;
    margin: auto;
    
    opacity: 0;
    transition: opacity .5s;
}

#circle1.active{
    animation: circleToCenter 1s linear infinite;
    border-color: red;
}

#circle2.active{
    animation: circleToCenter 1s 333ms linear infinite;
    border-color: rgb(178, 56, 56);
}

#circle3.active{
    animation: circleToCenter 1s 666ms linear infinite;
    border-color: rgb(127, 90, 90);
}


@keyframes circleToCenter {
    to{
        width: 75vw;
        height: 75vw;
    }
}



/* file starts form here  */

#file {
    position: absolute;
    bottom: 11vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 9vw;
    height: 23vh;
    cursor: pointer;
    z-index: 1;

    
    /* display: none; */
    transform: rotateX(40deg);
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: transform 900ms, scale 900ms, box-shadow 900ms, height 900ms, width 900ms;

    filter: var(--darkroom);
}


#file:hover{
    transform: scale(125%) rotateX(20deg) translateY(-1vh);
    box-shadow: 0px 3vh 3.2vh -1vh black;
}


#upperFile,
#lowerFile {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color:var(--fileColor);
    left: 0;
    top: 0;
    border: var(--fileBorder);
    border-left: none;
    pointer-events: none;
}

#upperFile {
    transform: rotateY(-2deg);
    transform-style: preserve-3d;
    z-index: 3;

    box-shadow: 0px 2px 10px -2px black;

    overflow: hidden;

    transform-origin: left;
    transition: background-color 20ms 400ms, transform 1500ms;

}

#joiningPart {
    pointer-events: none;
    transform: rotateY(0deg);
    transform-origin: left;
    height: 100%;
    width: 2vw;
    background-color: rgb(71, 185, 223);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    transition: transform 1.5s;
}


#fileShine{
    position: absolute;
    top:115%;
    left: -110%;

    width: 250%;
    height: 20px ;
    transform: rotate(40deg);
    background-color: rgba(255, 235, 205, 0.884);
}

@keyframes fileShineLight {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    85%{
        background-color: aliceblue;
    }
    100%{
        top: -1%;
        left: 1%;
    }
}


#file:hover #fileShine{
    animation: fileShineLight 900ms 1 ease-out;
}

/* animation for opening the file  */
#file.open{
    height: 96vh;
    width: 40vw;
    bottom: 1.5vh;
    transform: rotateX(7deg) translateX(0vw);
}

#file.open #upperFile{
    background-color: rgb(201, 165, 119);
    transform: rotateY(-150deg) translateX(2vw);
}

#file.open #joiningPart{
    transform: rotateY(-149deg);
    width: 2vw;
    border-radius: 10px;
}

 #nextBtn,  #previousBtn, #closeBtn{
    width: 9vw;
    height:6vh;
    overflow: visible;
    position:absolute;
    z-index: -1;
    border-radius: 22px;
    left: 0%;
    border: 1.3px solid black;
    text-align: end;
    font-size: 1.5vw;
    display: flex;
    justify-content: end;
    align-items: center;

    pointer-events: none;

    transition: left 1000ms;
}

#lowerFile p{
    padding-right: 10%; 
    pointer-events: none;
}


/* three buttons design here  */
 #nextBtn{
    top: 15%;
}
#file.open  #nextBtn{
    background-color:#CFE8A9;
    left: 95%;
    transition: left 700ms;
    /* if file is open only then pointer event is auto, or none  */
    pointer-events: auto;
}


 #previousBtn{
    background-color:#FFFDE3;
    top: 25%;
}
#file.open  #previousBtn{
    left: 95%;
    pointer-events: auto;
    transition: left 700ms 150ms;
}


#closeBtn{
    top: 40%;
    background-color: #e57c7c;
}
#file.open #closeBtn{
    left: 95%;
    pointer-events: auto;
    transition: left 700ms 300ms;
}

#lowerFile > div:hover{
    border:3.5px dotted ;
}


/* file page decoration starts form here  */
#filePages{
    position: absolute;
    top: 1%;
    width: 100%;
    height: 98%;
    transform-style: preserve-3d;
    z-index: 2;
    background-color: rgb(157, 80, 80);
   
}
#filePages > div{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    /* transform: rotateY(0deg) ; */
    transform-origin: left;
    background-color: #CFE8A9;
    border-left: 1vw solid rgba(88, 209, 66, 0.806);
    left: 0;
    
    transition: left 500ms, transform 800ms;
}
/* translateX(2vw) */
#file.open #filePages > div{
    left: -.5vw;

}

#file.open #filePages > .seenPage{
    left: 0;

    transform: rotateY(-149deg) translateX(1.5vw);
}

.pageContent{
    transition: opacity 1ms 300ms;
}

.seenPage .pageContent{
    opacity: 0;
}


    /* mail section starts form here  */

#mail{
    position: absolute;
    bottom: 11vh;
    left: 20vw;

    transform: rotateX(40deg);
    transform-style: preserve-3d;
    transform-origin: bottom;

    width: 0px;
    height: 3vh;
    background-color: red;
    box-shadow: 1px 2px 5px ;

    border-top: 4vh solid rgb(138, 175, 238);
    border-left: 3vw solid antiquewhite;
    border-right: 3vw solid antiquewhite;

    transition: border 1s, width 1s, height 1s, transform 1s;

    overflow: hidden;
}

#mail:hover{
    border: 2px solid whitesmoke;
    width: 15vw;
    height: 25vh;
    transform: rotateX(0deg);
    background-color: antiquewhite;
    z-index: 1;

}

#projectBoard{
    position: absolute;
    transform-origin: bottom;
    bottom: 10vh;
    left: 31vw;

    width: 7vw;
    height: 15vh;
    background-color: rgba(18, 209, 184, 0.538);
    border-radius: 8%;
    
    transform: rotateX(30deg) rotateY(16deg) rotateZ(-30deg);
}

#clipOfBoard{
    width: 3vw;
    display: block;
    margin: -.5vh auto;
}




/* name and designamtion holder  */
.designation{
    position: absolute;
    bottom: 28vh;
    left: 30vw;

    font-size: 1vw;

    transform: rotateX(10deg);

    
}
.designation::after{
    content: 'Web developer';
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;

    width: 8vw;
    height: 5vh;
    background-color: rgba(193, 240, 193 , .68);

    box-shadow: 0 1px 5px;
}
.designation::before{
    content: '';
    display: block;
    width: 8vw;
    height: 4vh;
    transform: skewX(10deg) translateX(3%);
    background-color: rgb(108, 118, 17);
}


/* for middle designation  */
#middleDesignation{
    left: 46vw;
    bottom: 29vh; 

}
#middleDesignation::before{
    background-color:transparent;
}
#middleDesignation::after{
    content: "Technical support";

}


/* for right designation  */
#rightDesignation{
    left: 62vw;

}
#rightDesignation::before{
    transform: skewX(-10deg) translateX(-3%);
}
#rightDesignation::after{
    content: "Software Engineer";
}


/* fb link design here  */
#fbLink{
    /* background-color: rgba(115, 182, 182, 0.401); */
    border-radius: 15%;
    padding: 1vh 0;

    position: absolute;
    transform-origin: bottom;
    transform: rotateX(30deg);
    bottom: 12vh;
    right: 34vw;

    transition: background-color 500ms, box-shadow 900ms;

    cursor: pointer;
    /* box-shadow: -.3vw .7vw ; */


}

#fbLink:hover{
    background-color: rgba(115, 182, 182, 0.401);
    box-shadow: -.3vw .7vw ;
}

#fbLink > .socialLogo{
    background-image: url(images/tableProducts/fbLogo.svg);
}

#fbLink:hover .socialLogo{
    transform: translateY(-4.5vw)  scale(1.7) rotateY(1440deg);
    opacity: 1;
    box-shadow: 0 0 2vw 1vw rgb(228,228,249);

    transition: transform 500ms, opacity 500ms, box-shadow 800ms 400ms;
}

#pencil{
    width: 4vw;
    margin-right: .5vw;

    position: relative;
    left: -10%;
}
#eraser, #sharpner{
    width: 1vw;
    position: absolute;
    top: .5vw;
    left: 2.5vw;

}
#sharpner{
    top: 2vw;
}

#spectacles{
    width: 1.7vw;
    margin-right: .5vw;
}


/* link for git hub in a pad starts here  */
#gitPad{
    position:absolute;
    background-image:url(images/tableProducts/gitPad.png);
    background-size: cover;
    bottom: 11vh;
    transform: rotateX(40deg);
    transform-origin: bottom;
    width: 6vw;
    height: 16vh;
    right: 25vw;
    border:.3vw solid rgb(220, 214, 214);
    border-radius: 8%;
    box-shadow: -2px 4px 4px;

    transition: transform 500ms , box-shadow 500ms;
}


#gitPad:hover{
    transform: rotateX(20deg) scale(1.1);
    box-shadow: 0px 10px 15px;

    cursor: pointer;

}

#gitPad::before{
    content: "";
    display: block;
    width: .2vw;
    height: .2vw;
    border-radius: 50%;
    background-color: black;

    margin: auto;
    position: relative;
    top: -.3vw;
}

.socialLogo{
    content: "";
    display: block;
    width: 2vw;
    height: 2vw;

    background-image: url(images/tableProducts/github.svg);
    background-size: cover;

    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;

    background-color: rgba(228,228,249,0.6);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    
}

#gitPad:hover .socialLogo{
    transform: translateY(-4vw) scale(2) rotateY(1440deg);
    opacity: 1;
    box-shadow: 0 0 2vw .5vw rgb(228,228,249);

    transition: transform 500ms, opacity 500ms, box-shadow 800ms 400ms;
}


/* link for linkedIn in a cup starts here  */
#linkedInCup{
    width: 3.5vw;
    height: 9vh;
    position: absolute;
    bottom: 21vh;
    right: 21.5vw;
    background-image: url(images/tableProducts/linkedIncup.svg);
    background-size: contain;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
}

#linkedInCup:hover{
    transform: translateY(-1vh) scale(1.3);
    cursor: pointer;
}


#linkedInCup > .socialLogo{
    background-image: url(images/tableProducts/linkedin.svg);
}

#linkedInCup:hover .socialLogo{
    transform: translateY(-3vw) scale(1.3) rotateY(1440deg);
    opacity: 1;
    box-shadow: 0 0 2vw .5vw rgb(228,228,249);

    transition: transform 500ms, opacity 500ms, box-shadow 800ms 400ms;
}


.coffeeSmoke{
    width: .8vw;
    /* border: 2px solid red; */
    position: absolute;
    top: -30%;
    left: 20%;
    transform-origin: top;
    pointer-events: none;
}

.coffeeSmoke:nth-child(1){
    left: 50%;

    animation: smokeOnOff 4s infinite alternate;
}

.coffeeSmoke:nth-child(2){
    left: 20%;
    animation: smokeOnOff 4s 1.5s infinite alternate;
    opacity: .8;
}

@keyframes smokeOnOff {
    to{
        opacity: .1;
        width: 1vw;
    }
}


#cupHolder{
    width: 3vw;
    height: 3vh;
    position: absolute;
    bottom: 20vh;
    right: 22vw;
    border-radius: 45%;
    background:linear-gradient(90deg, rgb(226, 214, 214), rgb(179, 173, 173));
    box-shadow: 1px 2px 2px;
}






/* character and chair section starts here  */
/* character and chair section starts here  */
/* character and chair section starts here  */
#chair{
    width: 29vw;
    height: 45vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 8vh;

    filter: var(--darkroom);

}

#character{
    position: absolute;
    width: 15vw;
    bottom: 20vh;
    right: 0;
    /* left: -40%; */
    left: 0;
    /* background-color: #CFE8A9; */
    margin: auto;
    display: flex;
    flex-direction: column-reverse;

    filter: var(--darkroom);

}

#faceParts{
    position: relative;
    left: 7%;
    right: 0;
    margin: auto;
    width: 65%; 
    margin-bottom: -6.5vh;
}


.eyes{
    width: 4vw;
    height: 3vh;
    position: absolute;
    /* top: 55%; */
    bottom: 33%;
    left: 0;
    right: 19%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    animation: eyeClose 3s alternate infinite;
}


@keyframes eyeClose{
    54%{
        height: 3vh;
    }
    60%{
        height: .3vh;
    }
    63%{
        height: 3vh;
    }
}

.eye{
    background-color: rgba(244, 234, 234, 0.413);
    width: 40%;
    height: 100%;
    border-radius: 50%;
    position: relative;


    
}

.eye::before{
    content: " ";
    position: absolute;
    top: 25%;
    left:15%;
    width: 45%;
    height: 1.5vh;
    background-color: black;
    border-radius: 50%;
}


#hair{
    position: absolute;
    top: 0;
    width: 100%;
    transform-origin: bottom;
}

#hair.acOn{
    animation: hairSwing 2s infinite alternate;
}
@keyframes hairSwing{

    20%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}

#face{
    width: 100%;
}

#smile{
    position: absolute;
    left: 0;
    right: 20%;
    margin: auto;
    bottom: 12%;
    /* background-image: url("images/character/excited.svg"); */
    background-image: url("images/character/excited.svg");
   
    background-repeat: no-repeat;
    background-size: cover;
    width: 26%;
    height:9%;

}


#faceParts:hover #smile{
    background-image: url("images/character/normalSmile.svg");
    
}

#bodyParts{
    position: relative;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
}

#body{
    width: 100%;
    /* background-color: #FFFDE3; */
}

#wools{
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 22%;
}

.wool{
    width: 6%;
    display: block;
    transform-origin: top;
    
}

#wools.acOn .wool{
    animation: woolSwing 6s infinite alternate;
}
@keyframes woolSwing{

    20%{
        transform: rotate(25deg);
    }
    60%{
        transform: rotate(-5deg);
    }
    90%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}


/* airconditionar and mom  section animation here  */
/* airconditionar and mom  section animation here  */

.middleRow{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    /* background-color: #e57c7c; */
    overflow: hidden;
    pointer-events: none;

    filter: var(--darkroom);
}

#ac{
    position: absolute;
    right: -2%;
    width: 13vw;
    bottom: 0;
    pointer-events: auto;
}

#ac img{
    width: 100%;
}

#acVent{
    position: absolute;

    left: 10%;
    top: 10%;
    width: 42%;
    height: 17%;
    transform: skewY(5deg);
}

.ventPlate{
    box-sizing: border-box;
    border-top: 2px solid black;
    width: 100%;
    height: 15%;
    margin-bottom: 2%;
    background-color: #e57c7c;
    transform-origin: top;
    animation: ventSwing 5s infinite alternate-reverse ;
}

@keyframes ventSwing{
    20%{
        transform:rotateX(80deg);
    }
    30%{
        transform:rotateX(80deg);
    }

    40%{
        transform: rotateX(0deg);
    }

    70%{
        transform: rotateX(0deg);
    }

    80%{
        transform: rotateX(70deg);
    }
    90%{
        transform: rotateX(70deg);
    }

    100%{
        transform: rotateX(0deg);
    }

}

#acLight{
    position: absolute;
    top: 33%;
    left: 19%;
    width: 26%;
    height: 4.5%;
    border-radius: 50%;
    transform: skewY(5deg);
    cursor: pointer;

    background-color: rgb(0, 255, 0);
}



/* mom and sister sitting div starts here  */
/* mom and sister sitting div starts here  */
#momSisDiv{
    position: absolute;
    bottom: 3%;
    right: 64%;
    width: 45vw;
    /* height: 52vh; */
    /* background-color: blueviolet; */

    box-shadow: -12vw 8vh rgba(0, 0, 0, 0.357);
    border-radius: 50%;
}

#momOnSofaImg{
    width: 100%;
    height: 100%;
}

#momHoveringDiv{
    position: absolute;
    width: 12vw;
    height:100%;
    /* background-color: #92dd213e; */
    bottom: 0;
    left: 12vw;
    pointer-events: auto;

}

#momHoveringDiv:hover ~ #momOnSofaImg{
    content: url(images/sittingWoman/MainImages-sittingOnSofaImages/hoveredMomOnSofa.svg);

}

#momHoveringDiv:hover .dialogue{
    display: block;
}

.dialogue{
    width: 15vw;
    height: 17vh;
    position: absolute;
    background-image: url(images/dialogueBox/momDialogueBox.svg);
    background-size: cover;
    top:-30%;
    padding:0 0 0 1.5vw;
    box-sizing: border-box;
    /* background-color: red; */
    display: none;

}

.dialogue p{
    font-size: 1.5vw;
    margin: 2%;

}

.sisD{
    left: 52%;
    background-image: url(images/dialogueBox/sisDialogueBox.svg);
    display: none;
}


#sisImg{
    position: absolute;
    width: 9vw;
    left: 54%;
    pointer-events: auto;
}

#sisImg:hover{
    content: url(images/sittingWoman/MainImages-sittingOnSofaImages/hoveredSis.svg);
    width: 13.8vw;
    bottom: 4%;
    left: 54%;
}

#sisImg:hover ~ .sisD{
    display: block;
}


/* background section starts form here   */
/* background section starts form here   */
/* background section starts form here   */

#backgroundWall {
    background-image:var(--backgroundWallColor);
    /* filter: brightness(22%); */
    height: 67vh;
    width: 100%;
    overflow: hidden;

    display: grid;
    grid-template-columns: auto auto auto;

    position: relative;

}


/* filter to give the background element dark room effect  */
.sectionFilter{
    width: 100%;
    height: 150%;
    background-color: var(--darkRoomFilter);
    position: absolute;
    top: 0;
    left: 0;
}

/* certificates part starts here  */
#courseCertificates{
    width: 45vw;
    height: 80%;
    padding-right: 1vw;
    display: grid;
    grid-template-columns:repeat(5, auto);
    align-items: start;
    justify-items: center;
    position: relative;
    /* filter: var(--darkroom); */
    /* pointer-events: none; */
}

.certificate{
    width: var(--certificateFrameSize);
    margin:.3vw .5vw;
    background-color: var(--certificateFrameColor);
    display: inline-block; 
    padding:calc(var(--certificateSize)/10);
    box-sizing: border-box;
}

.certificate img{
    width: var(--certificateSize);
    border: calc(var(--certificateSize)/16) double rgb(216, 224, 56);
}


.certificate:nth-child(n+2):nth-child(-n+5) img{
    border-color:#0F9D58 #DB4437 #F4B400  #4285F4;
}

.certificate:nth-child(n+7):nth-child(-n+10) img{
    border-color: #316feb;
}


.pennUniversityCertificate img{
    border-color: white rgb(151, 28, 0);
}

.ielts img{
    width: 5vw;
    border-color: aliceblue;
}

.ielts{
    width: 7vw;
}

.duekUniversityCertificate img{
    border-color: white rgb(59, 59, 237);
}

.deeplearningCertificate img{
    border-color:#FE8B98;
}

.certificateWithPdf:hover{
    transform: scale(2) translateY(2vh);
    cursor: pointer;
    z-index: 1;
}


    /* academic section decoration starts form here  */

#academicSection{
    width: 20vw;
    height: 100%;
    perspective: 800px;
}

#academicPanel{
    width: 85%;
    /* height: 9%; */
    display: block;
    margin: auto;
    margin-bottom: 1.5vh;
    border-bottom:2px solid black;

    transform: rotateX(-20deg);
    transform-style: preserve-3d;
}

#academicCertificates img{
    width: 5vw;
    border: 7px double rgb(191, 108, 0);
}

#academicCertificates{
    background-image:linear-gradient(45deg,rgba(128, 107, 0, 0.5), rgba(255, 255, 255, .2) 60%);
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 1vh;
    width: 87%;
    margin: auto;
    position: relative;
    
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}

#academicCertificates .certificateWithPdf:hover{
    transform: scale(1.5);
}

.glassHolder{
    width: .4vw;
    height: .4vw;
    background-color: rgb(237, 236, 236);
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    margin: .4vw;
}
.glassHolder:nth-child(4){
    right: 0%;
    background-color: white;
}
.glassHolder:nth-child(5){
    bottom: 0%;
    background-color: rgb(244, 217, 200);
}
.glassHolder:nth-child(6){
    bottom: 0%;
    right: 0;
    background-color: rgb(244, 217, 200);
}


#bscDegree{
    grid-column-start: 1;
    grid-column-end:3;
}
#bscDegree::before, #sscDegree::before, #hscDegree:before {
    content: "BSC.(ComputerScience)--avg:82%";
    font-size: .7vw;
    text-align: center;
    display: block;
    border-radius: 3px;
    background-color: rgb(50, 48, 46);
    color: rgb(243, 241, 232);
    margin-bottom: .3vh;
    padding: 2px 0;

}

#sscDegree, #hscDegree{
    position: relative;
    margin-top: .5vh;
    /* background-color: rgb(194, 114, 114); */
}

#hscDegree{
    right: 15%;
}
#sscDegree{
    left: 15%;
}

#sscDegree::before{
    content: "SSC-- GPA:5/5";
}

#hscDegree:before{
    content: "HSC-- GPA:4.5/5";
}



/* madels section starts form here  */
#madels{
    width:32vw;
    height: 100%;
    padding-top: 1vh;
    position: relative;
}

#competitiveCertificate>div:nth-child(1){
    margin: auto;
    margin-top: 1vh;
    width: 13vw;
    padding: 0;

    /* border:2px solid green; */
    perspective: 800px;

    display: grid;
    grid-template-columns: auto auto;
    align-items: end;
}


#competitiveCertificate .certificateWithPdf img{
    width: 5.7vw;
    border: .1vw solid rgb(162, 114, 30);
    border-radius: 5px;
    /* to remove below white space of an inline-block element  */
    margin-bottom: -4px;
    
    transform: rotateX(15deg);
    box-shadow: -2px 1px black;
}


#certificateHolder{
    width: 14vw;
    height: 1.5vh;
    background-image:url(images/others/wood.svg);
    margin: auto;
}

#screw{
    width: 14vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#screw img{
    width: 2vw;
    margin: 0 1vw;
}


    /* madels on hanger section starts form here  */

 /* #madels > img:hover{
   

 }    */

 .madelsOnHanger:hover{
    transform: scale(1.5);
    transform-origin: center;
    z-index: 1;
    border-radius: 10%;
    
    background-color: rgba(249, 234, 123, 0.1);
    box-shadow: 0px 0px 20px 2px rgba(249, 234, 123, 0.2);
 }
 
.madelsOnHanger{
    width: 10vw;
    position: absolute;

    top: 30%;
    left: 11vw;
}
#caromMadels{
    top: 50%;
}


.SingleMadelsOnHanger{
    width: 8vw;
    position: absolute;
}

.SingleMadelsOnHanger:hover{
    transform: scale(1.5);
    transform-origin: center;
    z-index: 1;
    border-radius: 10%;

    background-color: rgba(255, 255, 255, 0.14);
    box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.24);
}

#cricketMadels{
    top: 21%;
    left:2%;
}
#soccerMadels{
    top: 20%;
    right:4%;
}

#volleyballMadels{
    top: 41%;
    left:6%;
}
#athleticsMadels{
    top: 41%;
    right:10%;
}


#backWallJointPart{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 6vh;
    background-color: rgba(54, 54, 203, .2);

    border-top: .3vh solid rgb(55, 52, 50);
    /* box-shadow: 0 .5vh 7px rgb(0, 0, 0); */
 
}
