:root {
    --tableMainColor: yellow;
    --tableSecondColor: red;
}

body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

#backgroundWall {
    background-color: rgb(221, 221, 131);
    height: 60vh;
    width: 100%;
}


/* table section and table animation starts form here  */


#tableSection {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid yellow;

    perspective: 830px;
}

#table {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 8vh;
    width: 70vw;
    height: 35vh;
    transform: rotateX(40deg);
    transform-origin: bottom;
    background-image: radial-gradient(circle, var(--tableMainColor), var(--tableSecondColor) 300%);
    border-bottom: 10px solid rgb(94, 88, 88);

    overflow: hidden;
}


#tableBottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3vh;
    width: 70vw;
    height: 5vh;
    background-color: red;
}

#tableLegs {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65vw;
    height: 3vh;
    background-color: rgba(174, 91, 91, 0.196);
    display: flex;
    justify-content: space-between;
}

.tableLeg {
    width: 7vh;
    height: 100%;
    background-color: yellow;
    border-radius: 20px;
}



/* floating circle on the table below the file  */
.floatingCircle{
    pointer-events: none;
    width: .2vw;
    height: .2vw;
    border: 15px solid;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: -10vw;
    right: -10vw;
    margin: auto;
    
    opacity: 0;
    transition: opacity .5s;
}

#circle1.active{
    animation: circleToCenter 1s linear infinite;
    border-color: red;
}

#circle2.active{
    animation: circleToCenter 1s 333ms linear infinite;
    border-color: rgb(178, 56, 56);
}

#circle3.active{
    animation: circleToCenter 1s 666ms linear infinite;
    border-color: rgb(127, 90, 90);
}


@keyframes circleToCenter {
    to{
        width: 75vw;
        height: 75vw;
    }
}



/* file starts form here  */

#file {
    position: absolute;
    bottom: 11vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 10vw;
    height: 25vh;
    cursor: pointer;

    background-color: rgba(255, 255, 10, 0.305);
    
    /* display: none; */
    transform: rotateX(40deg);
    transform-origin: bottom;

    transform-style: preserve-3d;

    transition: transform 900ms, scale 900ms, box-shadow 900ms, height 900ms, width 900ms;

}





#upperFile,
#lowerFile {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(190, 134, 50);
    left: 0;
    top: 0;
    border: 2px solid rgb(190, 29, 29);
    border-left: none;
    pointer-events: none;
}

#upperFile {
    transform: rotateY(-2deg);
    transform-style: preserve-3d;
    z-index: 3;

    box-shadow: 0px 2px 10px -2px black;

    overflow: hidden;

    transform-origin: left;
    transition: background-color 20ms 400ms, transform 1500ms;

}

#joiningPart {
    pointer-events: none;
    transform: rotateY(0deg);
    transform-origin: left;
    height: 100%;
    width: 2vw;
    background-color: rgb(71, 185, 223);
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;

    transition: transform 1.5s;
}

#fileShine{
    position: absolute;
    top:115%;
    left: -110%;

    width: 250%;
    height: 20px ;
    transform: rotate(40deg);
    background-color: rgba(255, 235, 205, 0.884);

   
}

@keyframes fileShineLight {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    85%{
        background-color: aliceblue;
    }
    100%{
        top: -1%;
        left: 1%;
    }
}

#file:hover{
 
    transform: scale(125%) rotateX(20deg) translateY(-3vh);
    box-shadow: 0px 3vh 3.2vh -1vh black;
}

#file:hover #fileShine{
    animation: fileShineLight 900ms 1 ease-out;
}

/* animation for opening the file  */
#file.open{
    height: 96vh;
    width: 40vw;
    bottom: 1.5vh;
    transform: rotateX(7deg) translateX(0vw);
}

#file.open #upperFile{
    background-color: antiquewhite;
    transform: rotateY(-150deg) translateX(2vw);
}

#file.open #joiningPart{
    transform: rotateY(-150deg);
    width: 2vw;
    border-radius: 10px;
}

#lowerFile>div{
    width: 9vw;
    height:8vh;
    overflow: visible;
    position:absolute;
    z-index: -1;
    border-radius: 22px;
    left: 0%;
    border: 1.3px solid black;
    text-align: end;
    font-size: 1.5vw;
    display: flex;
    justify-content: end;
    align-items: center;

    pointer-events: none;

    transition: left 1000ms;
}

#lowerFile p{
    padding-right: 10%; 
    pointer-events: none;
}


/* three buttons design here  */
#next{
    top: 15%;
}
#file.open #next{
    background-color:#CFE8A9;
    left: 95%;
    transition: left 700ms;
    /* if file is open only then pointer event is auto, or none  */
    pointer-events: auto;
}


#previous{
    background-color:#FFFDE3;
    top: 30%;
}
#file.open #previous{
    left: 95%;
    pointer-events: auto;
    transition: left 700ms 150ms;
}


#closeBtn{
    top: 50%;
    background-color: #e57c7c;
}
#file.open #closeBtn{
    left: 95%;
    pointer-events: auto;
    transition: left 700ms 300ms;
}

#lowerFile > div:hover{
    border:3.5px dotted ;
}
