:root {
    --tableMainColor: rgb(208, 208, 58);
    --tableSecondColor: rgb(227, 57, 57);
}

/* *{
    transition: filter 400ms;
} */

body {
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
    /* position: relative; */
}

#backgroundWall {
    background-color: rgb(221, 221, 131);
    height: 60vh;
    width: 100%;
}


/* table section and table animation starts form here  */


#tableSection {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;

    perspective: 830px;
}

#table {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 8vh;
    width: 70vw;
    height: 35vh;
    transform: rotateX(40deg);
    transform-origin: bottom;
    background-image: radial-gradient(circle, var(--tableMainColor), var(--tableSecondColor) 300%);
    border-bottom: 10px solid rgb(94, 88, 88);

    overflow: hidden;
}


#tableBottom {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 3vh;
    width: 70vw;
    height: 5vh;
    background-color: rgb(143, 16, 16);
}

#tableLegs {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 65vw;
    height: 3vh;
    background-color: rgba(174, 91, 91, 0.196);
    display: flex;
    justify-content: space-between;
}

.tableLeg {
    width: 7vh;
    height: 100%;
    background-color: rgb(197, 175, 13);
    border-radius: 20px;
}



/* floating circle on the table below the file  */
.floatingCircle{
    pointer-events: none;
    width: .2vw;
    height: .2vw;
    border: 15px solid;
    border-radius: 50%;
    position: absolute;
    top:0;
    bottom: 0;
    left: -10vw;
    right: -10vw;
    margin: auto;
    
    opacity: 0;
    transition: opacity .5s;
}

#circle1.active{
    animation: circleToCenter 1s linear infinite;
    border-color: red;
}

#circle2.active{
    animation: circleToCenter 1s 333ms linear infinite;
    border-color: rgb(178, 56, 56);
}

#circle3.active{
    animation: circleToCenter 1s 666ms linear infinite;
    border-color: rgb(127, 90, 90);
}


@keyframes circleToCenter {
    to{
        width: 75vw;
        height: 75vw;
    }
}



/* file starts form here  */

#file {
    position: absolute;
    bottom: 11vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 10vw;
    height: 25vh;
    cursor: pointer;

    background-color: rgba(240, 240, 230, 0.305);
    
    /* display: none; */
    transform: rotateX(40deg);
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: transform 900ms, scale 900ms, box-shadow 900ms, height 900ms, width 900ms;

}


#file:hover{
    transform: scale(125%) rotateX(20deg) translateY(-1vh);
    box-shadow: 0px 3vh 3.2vh -1vh black;
}





#upperFile,
#lowerFile {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(190, 134, 50);
    left: 0;
    top: 0;
    border: 2px solid rgb(190, 29, 29);
    border-left: none;
    pointer-events: none;
}

#upperFile {
    transform: rotateY(-2deg);
    transform-style: preserve-3d;
    z-index: 3;

    box-shadow: 0px 2px 10px -2px black;

    overflow: hidden;

    transform-origin: left;
    transition: background-color 20ms 400ms, transform 1500ms;

}

#joiningPart {
    pointer-events: none;
    transform: rotateY(0deg);
    transform-origin: left;
    height: 100%;
    width: 2vw;
    background-color: rgb(71, 185, 223);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;

    transition: transform 1.5s;
}


#fileShine{
    position: absolute;
    top:115%;
    left: -110%;

    width: 250%;
    height: 20px ;
    transform: rotate(40deg);
    background-color: rgba(255, 235, 205, 0.884);
}

@keyframes fileShineLight {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    85%{
        background-color: aliceblue;
    }
    100%{
        top: -1%;
        left: 1%;
    }
}


#file:hover #fileShine{
    animation: fileShineLight 900ms 1 ease-out;
}

/* animation for opening the file  */
#file.open{
    height: 96vh;
    width: 40vw;
    bottom: 1.5vh;
    transform: rotateX(7deg) translateX(0vw);
}

#file.open #upperFile{
    background-color: antiquewhite;
    transform: rotateY(-150deg) translateX(2vw);
}

#file.open #joiningPart{
    transform: rotateY(-149deg);
    width: 2vw;
    border-radius: 10px;
}

 #nextBtn,  #previousBtn, #closeBtn{
    width: 9vw;
    height:6vh;
    overflow: visible;
    position:absolute;
    z-index: -1;
    border-radius: 22px;
    left: 0%;
    border: 1.3px solid black;
    text-align: end;
    font-size: 1.5vw;
    display: flex;
    justify-content: end;
    align-items: center;

    pointer-events: none;

    transition: left 1000ms;
}

#lowerFile p{
    padding-right: 10%; 
    pointer-events: none;
}


/* three buttons design here  */
 #nextBtn{
    top: 15%;
}
#file.open  #nextBtn{
    background-color:#CFE8A9;
    left: 95%;
    transition: left 700ms;
    /* if file is open only then pointer event is auto, or none  */
    pointer-events: auto;
}


 #previousBtn{
    background-color:#FFFDE3;
    top: 25%;
}
#file.open  #previousBtn{
    left: 95%;
    pointer-events: auto;
    transition: left 700ms 150ms;
}


#closeBtn{
    top: 40%;
    background-color: #e57c7c;
}
#file.open #closeBtn{
    left: 95%;
    pointer-events: auto;
    transition: left 700ms 300ms;
}

#lowerFile > div:hover{
    border:3.5px dotted ;
}


/* file page decoration starts form here  */
#filePages{
    position: absolute;
    top: 1%;
    width: 100%;
    height: 98%;
    transform-style: preserve-3d;
    z-index: 2;
    background-color: rgb(157, 80, 80);
   
}
#filePages > div{
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    /* transform: rotateY(0deg) ; */
    transform-origin: left;
    background-color: #CFE8A9;
    border-left: 1vw solid rgba(88, 209, 66, 0.806);
    left: 0;
    
    transition: left 500ms, transform 800ms;
}
/* translateX(2vw) */
#file.open #filePages > div{
    left: -.5vw;

}

#file.open #filePages > .seenPage{
    left: 0;

    transform: rotateY(-149deg) translateX(1.5vw);
}

.pageContent{
    transition: opacity 1ms 300ms;
}

.seenPage .pageContent{
    opacity: 0;
}


/* character and chair section starts here  */
#chair{
    width: 25vw;
    height: 42vh;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 8vh;
}



/* charactere stablishment form here  */
#character{
    position: absolute;
    width: 15vw;
    bottom: 20vh;
    right: 0;
    /* left: -40%; */
    left: 0;
    /* background-color: #CFE8A9; */
    margin: auto;
    display: flex;
    flex-direction: column-reverse;

}

#faceParts{
    position: relative;
    left: 6%;
    right: 0;
    margin: auto;
    width: 65%; 
    margin-bottom: -5vh;
}


.eyes{
    width: 4vw;
    height: 3vh;
    position: absolute;
    /* top: 55%; */
    bottom: 33%;
    left: 0;
    right: 19%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    animation: eyeClose 3s alternate infinite;
}


@keyframes eyeClose{
    54%{
        height: 3vh;
    }
    60%{
        height: .3vh;
    }
    63%{
        height: 3vh;
    }
}

.eye{
    background-color: rgba(244, 234, 234, 0.413);
    width: 40%;
    height: 100%;
    border-radius: 50%;
    position: relative;


    
}

.eye::before{
    content: " ";
    position: absolute;
    top: 25%;
    left:15%;
    width: 45%;
    height: 1.5vh;
    background-color: black;
    border-radius: 50%;
}


#hair{
    position: absolute;
    top: 0;
    width: 100%;
    animation: hairSwing 2s infinite alternate;
    transform-origin: bottom;
}
@keyframes hairSwing{

    20%{
        transform: rotate(-5deg);
    }
    60%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(-3deg);
    }
    100%{
        transform: rotate(-7deg);
    }
}

#face{
    width: 100%;
}

#smile{
    position: absolute;
    left: 0;
    right: 20%;
    margin: auto;
    bottom: 12%;
    /* background-image: url("images/character/excited.svg"); */
    background-image: url("images/character/excited.svg");
   
    background-repeat: no-repeat;
    background-size: cover;
    width: 26%;
    height:9%;

}


#faceParts:hover #smile{
    background-image: url("images/character/normalSmile.svg");
    
}

#bodyParts{
    position: relative;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
}

#body{
    width: 100%;
    /* background-color: #FFFDE3; */
}

#wools{
    position: absolute;
    top: 35%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 22%;
}

.wool{
    width: 6%;
    display: block;
    transform-origin: top;
    animation: woolSwing 6s infinite alternate;
    
}
@keyframes woolSwing{

    20%{
        transform: rotate(25deg);
    }
    60%{
        transform: rotate(-5deg);
    }
    90%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(10deg);
    }
}


/* airconditionar  section animation here  */

.middleRow{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 90%;
    /* background-color: #e57c7c; */
    overflow: hidden;
}

#ac{
    position: absolute;
    right: -2%;
    width: 13vw;
    bottom: 0;
}

#ac img{
    width: 100%;
}

#acVent{
    position: absolute;

    left: 10%;
    top: 10%;
    width: 42%;
    height: 17%;
    transform: skewY(5deg);
}

.ventPlate{
    box-sizing: border-box;
    border-top: 2px solid black;
    width: 100%;
    height: 15%;
    margin-bottom: 2%;
    background-color: #e57c7c;
    transform-origin: top;
    animation: ventSwing 6s infinite alternate-reverse ;
   
}

@keyframes ventSwing{
    20%{
        transform:rotateX(80deg);
    }
    30%{
        transform:rotateX(80deg);
    }

    40%{
        transform: rotateX(0deg);
    }

    70%{
        transform: rotateX(0deg);
    }

    80%{
        transform: rotateX(70deg);
    }
    90%{
        transform: rotateX(70deg);
    }

    100%{
        transform: rotateX(0deg);
    }

}

#acLight{
    position: absolute;
    color: rgb(6, 6, 136);
    top: 33%;
    left: 19%;
    width: 26%;
    height: 4.5%;
    border-radius: 50%;
    transform: skewY(5deg);
    cursor: pointer;
    background-color: rgb(0, 255, 0);
}

#ac:hover #acLight{
    background-color: yellow;
}
