@media screen and (max-width: 920px) {
    #mail:hover{
        border: 2px solid whitesmoke;
        width: 63vw;
        height: 85vh;
        transform: rotateX(0deg);
    }

    #projects{
        margin-top: -1.3vh;
    }

    #memories p{
        margin: 0;
    }

}



/* when aspect ratio is 4:3 then changing some css  */
body>section.ipadRatio{
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 85vh;
}

#tableSection.ipadRatio{
    bottom: 10%;
}

#backgroundWall.ipadRatio{
    height: 57vh;
}
