@media screen and (max-width: 920px) {
    #mail:hover{
        border: 2px solid whitesmoke;
        width: 63vw;
        height: 85vh;
        transform: rotateX(0deg);
    }

    #projects{
        margin-top: -1.3vh;
    }
}